In [1]:
#declaração das bibliotecas

import pandas as pd 
import mlflow
import statsmodels.api as sm
import requests
import matplotlib.pyplot as plt

In [6]:
#caminho do dataset
caminho ="data/tempodist.csv"

#carregando o dataset
df_tempodist = pd.read_csv(caminho)

df_tempodist

   tempo  distancia
0     15          8
1     20          6
2     20         15
3     40         20
4     50         25
5     25         11
6     10          5
7     55         32
8     35         28
9     30         20

In [8]:
#veriicando as variáveis descritivas das colunas
df_tempodist.describe()

          tempo  distancia
count  10.00000  10.000000
mean   30.00000  17.000000
std    14.90712   9.510228
min    10.00000   5.000000
25%    20.00000   8.750000
50%    27.50000  17.500000
75%    38.75000  23.750000
max    55.00000  32.000000

In [12]:
#treinando um modelo localmente

modelo_nulo_local = sm.OLS.from_formula(
    formula="tempo ~ 1", data=df_tempodist
).fit()

In [13]:
#veriicando seu output

modelo_nulo_local.summary